@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";

.player-page {
    @include feature-page-layout;

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: $space-md;
    }
}