@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";

.music-player-page {
    @include feature-page-layout;

    &__controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $space-md;
    }
}