@import "src/assets/styles/variables.scss";

.counter-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .click-counter {
        margin: 50px;
        width: 300px;
    }

    &__reset-btn {
        border: 0;
        padding: $space-sm;
    }
}