$space-lg: 20px;
$space-md: 15px;
$space-sm: 10px;
$space-xs: 5px;


$elem-height-md: 20px; 

$border-radius-sm: 5px;
$border-radius-md: 8px;

$font-bold: 700;

// colors
$gray: #d3d3d3;
$dark-gray: #bababa;
$light-gray: #ececec;
$white: #d3d3d3;
$black: #1b1b1b; 
